* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

.app {
  margin: 1rem;
}
/* ---------------------------------------------
Header 
------------------------------------------------*/
.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  min-height: 49px;
  padding-left: 20px;
  padding-right: 20px;
}

.header i {
  min-height: 100%;
  padding-right: 1rem;
}

.header input {
  border-radius: 25px;
  width: 40rem;
  height: 40px;
  background-color: #f6f7f8;
  padding-left: 20px;
}

.header button {
  height: 30px;
  width: 4.1rem;
  margin-right: 1rem;
  background-color: #0079d3;
  color: #ffff;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: 1.05rem;
}

.logo {
  color: red;
  font-size: 1rem;
}

/* ---------------------------------------------
SideBar 
------------------------------------------------*/
.side-bar {
  width: 250px;
}

.side-bar h3 {
  padding-left: 1rem;
  padding-top: 3rem;
}

.side-bar .nav-link {
  text-decoration: none;
  color: black;
}

.side-bar ul {
  list-style: none;
}

.side-bar li {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.side-bar a {
  text-decoration: none;
}

li i {
  color: black;
  padding-right: 0.5rem;
}
/* ---------------------------------------------
Colors 
------------------------------------------------*/
.red {
  color: red;
}
